__pycache__/
*.egg-info
.pytest_cache
*tmp*
.venv
.snakemake
tests/fixtures/outputs/
tests/fixtures/fastq_real/
tests/fixtures/sra_cache/
tests/fixtures/logs/
fasterq.tmp.*/
resources/mitos/
tests/fixtures/blast/